# File ini adalah contoh konfigurasi environment variable
# Salin file ini dan rename menjadi .env
# Sesuaikan nilai di bawah ini dengan konfigurasi Supabase kamu

# Konfigurasi Server
PORT=3000

# Konfigurasi Supabase
# Dapatkan dari: Supabase Dashboard → Project Settings → API
SUPABASE_URL=https://mgepjyjrrciwrhgrhhpg.supabase.co
SUPABASE_KEY=sb_publishable_m7neXTFHRfsW5kkCh9Lfyg_8F2PJLRk